
body{
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#444;
  background-color: #EEE;
  padding:0 10px;
}

a {
  text-decoration: none;
}

h1,h2,h3{
  line-height:1.2;
}
